.app {overflow: hidden;}

body {
  font-family: 'Suisse Intl Regular', sans-serif;
  font-size: 16px;
  color: #050505;
}

/* page header */

.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 38px;
  padding-right: 40px;
  padding-bottom: 38px;
  padding-left: 40px;
  font-family: 'Suisse Intl Book', sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.page-header.opened {z-index: 5;}

.page-header__logo {
  position: absolute;
  top: 28px;
  left: 40px;
}

.page-header__nav-list,
.page-header__nav-right {display: -webkit-box;display: -ms-flexbox;display: flex;}

.page-header__nav-item,
.page-header__nav-connect,
.page-header__nav-right .address-button {
  height: 30px;
  padding-right: 11px;
  padding-left: 11px;
  line-height: 30px;
  border-radius: 30px;
  border: 1px solid #4B4B4F;
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.page-header__nav-item:not(:last-child) {margin-right: 5px;}

.page-header__nav-right {
  position: absolute;
  top: 38px;
  right: 40px;
}

.page-header__nav-right a {
  height: 32px;
  line-height: 31px;
  border-radius: 30px;
}

.page-header__nav-right a {
  padding-right: 5px;
  padding-left: 12px;
  margin-right: 5px;
  background-color: #6761D7;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.page-header__nav-right a::after {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: -2px;
  margin-left: 5px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_146_70)'%3e%3cpath d='M11.9614 0C5.88943 0 0.961426 4.928 0.961426 11C0.961426 17.072 5.88943 22 11.9614 22C18.0334 22 22.9614 17.072 22.9614 11C22.9614 4.928 18.0444 0 11.9614 0ZM16.0864 11.385L11.9944 16.038L11.5104 16.588C10.8394 17.347 10.2894 17.149 10.2894 16.126V11.77H8.41943C7.57243 11.77 7.34143 11.253 7.90243 10.615L11.9944 5.962L12.4784 5.412C13.1494 4.653 13.6994 4.851 13.6994 5.874V10.23H15.5694C16.4164 10.23 16.6474 10.747 16.0864 11.385Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_146_70'%3e%3crect width='22' height='22' fill='white' transform='translate(0.994629)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-size: cover;
  vertical-align: middle;
  content: '';
}

.page-header__nav-connect,
.page-header__nav-right .address-button {height: 32px;}

.page-header__nav-right .address-button::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  margin-left: 10px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 6.5L8 10.5L4 6.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  vertical-align: middle;
  content: '';
}

.page-header__menu-button {
  display: none;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='18' height='2' fill='white'/%3e%3crect y='8' width='18' height='2' fill='white'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
}

.page-header__menu-button.opened {background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_153_11523)'%3e%3crect x='1.7998' width='22.9094' height='2' transform='rotate(45 1.7998 0)' fill='white'/%3e%3crect y='16.1993' width='22.9094' height='2' transform='rotate(-45 0 16.1993)' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_153_11523'%3e%3crect width='18' height='18' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");}

@media (min-width: 1200px) {
  .page-header__nav-item:hover,
  .page-header__nav-right a:last-child:hover {background-color: #242627;}

  .page-header__nav-right a:first-child:hover {opacity: 0.7;}
}

@media (max-width: 767px) {
  .page-header {
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .page-header.opened {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .page-header__logo {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    z-index: 3;
  }

  .page-header__logo img {
    width: 34px;
    vertical-align: middle;
  }

  .page-header__nav-right {position: static;}

  .page-header__nav {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #050505;
    z-index: 2;
  }

  .page-header.opened .page-header__nav {
    display: block;
  }

  .page-header__nav-list {
    display: block;
    padding-top: 136px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .page-header__nav-item {
    height: auto;
    font-size: 42px;
    line-height: normal;
    border: none;
  }

  .page-header__nav-item:not(:first-child) {margin-top: 12px;}

  .page-header__nav-right a {
    height: 30px;
    font-size: 16px;
    line-height: 30px;
  }

  .page-header__nav-connect,
  .page-header__nav-right .address-button {
    height: 30px;
    line-height: 28px;
  }

  .page-header__nav-right .address-button::after {margin-left: 5px;}

  .page-header__nav-right a::after {
    width: 20px;
    height: 20px;
    margin-top: -4px;
  }

  .page-header__menu-button {
    position: relative;
    display: block;
    margin-left: 15px;
    z-index: 3;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 22px;
    padding-right: 26px;
    padding-bottom: 22px;
    padding-left: 26px;
  }

  .page-header__logo {
    position: relative;
    top: 0;
    left: 0;
    margin-right: auto;
    z-index: 3;
  }

  .page-header__logo img {
    width: 45px;
    vertical-align: middle;
  }

  .page-header__nav {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #050505;
    z-index: 2;
  }

  .page-header.opened .page-header__nav {display: -webkit-box;display: -ms-flexbox;display: flex;}

  .page-header__nav-list {display: block;}

  .page-header__nav-item {
    height: auto;
    font-size: 42px;
    text-align: center;
    line-height: normal;
    border: none;
  }

  .page-header__nav-item:not(:first-child) {
    margin-top: 12px;
  }

  .page-header__nav-right {position: static;}

  .page-header__nav-right a:last-child {display: none;}

  .page-header__menu-button {
    display: block;
    margin-left: 25px;
    z-index: 3;
  }
}






/* hero */

.hero {overflow: hidden;}

.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 450px;
  background-color: #050505;
  content: '';
  z-index: -1;
}


.hero__section {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hero__img {
  width: 100%;
  max-width: 950px;
  margin-top: -23px;
}

.hero__title {
  max-width: 590px;
  margin-top: -37px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Passenger Sans Bold', sans-serif;
  font-size: 80px;
}

.hero__title span {
  display: block;
  color: #3FD2CA;
}

@supports ((-webkit-background-clip: text) and (-webkit-text-fill-color: transparent)) {
  .hero__title span {
    background: -webkit-gradient(linear, left top, right top, from(#3FD2CA), to(#6925FB));
    background: -o-linear-gradient(left, #3FD2CA, #6925FB);
    background: linear-gradient(to right, #3FD2CA, #6925FB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.hero__about {
  max-width: 525px;
  margin-top: 26px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Suisse Intl Regular', sans-serif;
  font-size: 20px;
  color: #4E4E4E;
  line-height: 32px;
}

.hero__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 26px;
}

.hero__footer a {
  padding-right: 26px;
  padding-left: 26px;
  font-family: 'Passenger Sans Semibold';
  color: #ffffff;
  line-height: 56px;
  border-radius: 30px;
  background-color: #050505;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.hero__footer a:first-child:after {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: -2px;
  margin-left: 22px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 17L17 7M17 7H7M17 7V17' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  vertical-align: middle;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  content: '';
}

.hero__footer a:first-child:hover {opacity: 0.8;}

.hero__footer a:first-child:hover:after {-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

.hero__footer a:last-child {
  margin-left: 10px;
  color: #050505;
  background-color: #F0F1F3;
  -webkit-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.hero__footer a:last-child::before {content: 'Read documentation';}

.hero__footer a:last-child:hover {
  color: #ffffff;
  background-color: #5BD5DF;
}

.currencies-swiper {
  margin-top: 140px;
  border-top: 1px solid #101010;
}

.swiper-wrapper {transition-timing-function: linear !important;}

.hero__currencies-item {
  width: auto !important;
  padding-top: 61px;
  padding-bottom: 63px;
  font-family: 'Passenger Sans Bold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.hero__currencies-item::after {
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  font-family: 'Suisse Intl Regular', sans-serif;
  vertical-align: middle;
  content: '/';
}

@media (max-width: 767px) {
  .hero::before {height: 230px;}

  .hero__img {margin-top: 30px;}

  .hero__title {
    max-width: 320px;
    margin-top: 0;
    font-size: 42px;
  }

  .hero__about {
    max-width: 307px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 26px;
  }

  .hero__footer {margin-top: 36px;}

  .hero__footer a {
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero__footer a:first-child:after {margin-left: 6px;}

  .hero__footer a:last-child::before {content: 'Read document';}

  .currencies-swiper {margin-top: 115px;}

  .hero__currencies-list {
    padding-top: 27px;
    padding-bottom: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero::before {
    min-height: 350px;
    height: 36.4vh;
  }

  .hero__title {
    margin-top: 0;
    line-height: 89px;
  }
}









/* dark section */

.dark-section {
  color: #ffffff;
  background-color: #050304;
}

.dark-section__title {
  font-family: 'Suisse Intl Book', sans-serif;
  font-size: 16px;
  color: #AFAFAF;
}

.dark-section__title sup {top: -2px;}

.dark-section__about {
  margin-top: 16px;
  font-family: 'Passenger Sans Semibold', sans-serif;
  font-size: 64px;
}

@media (max-width: 767px) {
  .dark-section__title {font-size: 14px;}

  .dark-section__about {
    margin-top: 10px;
    font-size: 36px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .dark-section__about {font-size: 54px;}
}



/* social media */

.social-media {
  background-image: url('../../../public/img/social-media-dots.png');
  background-size: 100% auto;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.social-media__section {
  position: relative;
  max-width: 1200px;
  padding-top: 140px;
  padding-bottom: 120px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Passenger Sans Semibold', sans-serif;
  text-align: center;
  z-index: 1;
}

.social-media__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
  font-size: 20px;
}

.social-media__list::before {
  position: absolute;
  top: -262px;
  left: 190px;
  display: block;
  width: 572px;
  height: 332px;
  background-image: url('../../../public/img/social-media-bg.png');
  background-size: cover;
  z-index: -1;
  content: '';
}

.social-media__item svg {
  display: block;
  margin-right: auto;
  margin-bottom: 26px;
  margin-left: auto;
}

.social-media__item path {-webkit-transition: fill 0.5s ease-in-out;-o-transition: fill 0.5s ease-in-out;transition: fill 0.5s ease-in-out;}

.social-media__item a {
  display: block;
  width: 181px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #AFAFAF;
  background-color: #0F0F10;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 100px 0 #000000;
          box-shadow: 0 0 100px 0 #000000;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.social-media__item a:hover {color: #ffffff;}

.social-media__item:hover path {fill: #ffffff;}

@media (max-width: 767px) {

  .social-media {background-size: auto;}
  .social-media__section {
    padding-top: 90px;
    padding-bottom: 40px;
  }

  .social-media__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 26px;
  }

  .social-media__list::before {
    top: -74px;
    left: 4%;
    width: 100%;
  }

  .social-media__item {
    width: 48.6%;
    margin-top: 10px;
    font-size: 16px;
  }

  .social-media__item a {
    width: 100%;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .social-media__item svg {margin-bottom: 23px;}
}

@media (min-width: 768px) and (max-width: 1199px) {
  .social-media__section {
    padding-top: 100px;
    padding-bottom: 62px;
  }

  .social-media__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 588px;
    margin-top: 36px;
    margin-right: auto;
    margin-left: auto;
  }

  .social-media__item {
    width: 30.6%;
    margin-top: 24px;
  }

  .social-media__list::before {
    top: -74px;
    left: -55px;
  }

  .social-media__item a {
    width: 100%;
  }
}









/* ecosystem */

.ecosystem {
  max-width: 1200px;
  padding-top: 140px;
  margin-right: auto;
  margin-left: auto;
  background-color: #050304;
}

.ecosystem__about::after {
  position: relative;
  top: -8px;
  display: inline-block;
  width: 108px;
  height: 108px;
  background-image: url('../../../public/img/ecosystem-icon.png');
  background-size: cover;
  vertical-align: middle;
  content: '';
}

.ecosystem__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  font-family: 'Suisse Intl Regular', sans-serif;
  font-size: 18px;
  color: #C0C1C5;
  line-height: 30px;
}

.ecosystem__description li:first-child {max-width: 447px;}

.ecosystem__description li:last-child {
  max-width: 463px;
  margin-left: 166px;
}

.ecosystem__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 122px;
}

.ecosystem__view-item {
  position: relative;
  width: calc(49.1% - 2px);
  border-radius: 30px;
  border: 1px solid #222324;
  overflow: hidden;
}

.ecosystem__view-item--big {
  width: calc(100% - 2px);
  margin-bottom: 23px;
}

.ecosystem__view-item:not(.ecosystem__view-item--big) {padding-bottom: 91px;}

.ecosystem__view-item img {width: 100%;}

.ecosystem__view-item--big img {
  display: block;
  width: 88.3%;
  margin-left: auto;
}

.ecosystem__view-item b {
  position: absolute;
  left: 35px;
  font-family: 'Passenger Sans Semibold', sans-serif;
  font-size: 36px;
  line-height: 46px;
}

.ecosystem__view-item--big b {top: 35px;}

.ecosystem__view-item:not(.ecosystem__view-item--big) b {bottom: 35px;}

.ecosystem__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 95px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#050304), to(#0F0F10));
  background-image: -o-linear-gradient(top, #050304 0%, #0F0F10 100%);
  background-image: linear-gradient(180deg, #050304 0%, #0F0F10 100%);
}

.ecosystem__steps-item {
  padding-top: 40px;
  padding-bottom: 105px;
  background-color: #050304;
}

.ecosystem__steps-item:nth-child(1) {
  max-width: 277px;
  padding-right: 100px;
  border-bottom-right-radius: 35px;
}

.ecosystem__steps-item:nth-child(2) {
  max-width: 293px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: inherit;
}

.ecosystem__steps-item:nth-child(3) {
  max-width: 310px;
  padding-right: 91px;
  padding-left: 49px;
  border-bottom-left-radius: 35px;
}

.ecosystem__steps-count {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Suisse Intl Regular', sans-serif;
  font-size: 14px;
  color: #898D94;
  line-height: 28px;
  background-color: #151617;
  border-radius: 6px;
}

.ecosystem__steps-title {
  margin-top: 36px;
  font-family: 'Passenger Sans Semibold', sans-serif;
  font-size: 26px;
}

.ecosystem__steps-description {
  margin-top: 33px;
  font-family: 'Suisse Intl Regular', sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.ecosystem__steps-description:nth-of-type(2) {
  margin-top: 26px;
}

@media (max-width: 767px) {
  .ecosystem {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .ecosystem__about::after {display: none;}

  .ecosystem__description {
    display: block;
    margin-top: 0;
  }

  .ecosystem__description li:first-child,
  .ecosystem__description li:last-child {
    margin-top: 36px;
    margin-left: 0;
  }

  .ecosystem__view {
    margin-top: 26px;
  }

  .ecosystem__view-item--big {margin-bottom: 0;}

  .ecosystem__view-item:not(.ecosystem__view-item--big) {padding-bottom: 0;}

  .ecosystem__view-item {
    width: calc(100% - 2px);
    margin-top: 10px;
  }

  .ecosystem__view-item b {
    position: static;
    display: block;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    font-size: 24px;
    line-height: 33px;
  }

  .ecosystem__view-item--big img,
  .ecosystem__view-item img {
    width: 100%;
  }

  .ecosystem__steps {
    display: block;
    margin-top: 10px;
    background-image: none;
  }

  .ecosystem__steps-item,
  .ecosystem__steps-item:nth-child(1),
  .ecosystem__steps-item:nth-child(2),
  .ecosystem__steps-item:nth-child(3) {
    max-width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .ecosystem {
    padding-top: 120px;
    padding-right: 26px;
    padding-left: 26px;
  }

  .ecosystem__about::after {display: none;}

  .ecosystem .dark-section__title,
  .ecosystem .dark-section__about,
  .ecosystem__description {
    padding-right: 14px;
    padding-left: 14px;
  }


  .ecosystem__description {
    display: block;
    margin-top: 10px;
  }

  .ecosystem__description li:first-child,
  .ecosystem__description li:last-child {
    max-width: 100%;
    margin-top: 36px;
    margin-left: 0;
  }

  .ecosystem__view {margin-top: 50px;}

  .ecosystem__view-item--big,
  .ecosystem__view-item:not(.ecosystem__view-item--big) {
    width: calc(100% - 2px);
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 10px;
  }

  .ecosystem__view-item b {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-left: 35px;
  }

  .ecosystem__view-item--big b {padding-top: 35px;}

  .ecosystem__view-item:not(.ecosystem__view-item--big) b {padding-bottom: 35px;}

  .ecosystem__view-item--big img {
    width: 100%;
    margin-top: -3%;
  }

  .ecosystem__view-item:not(.ecosystem__view-item--big) img {
    margin-bottom: -5%;
  }

  .ecosystem__steps {
    display: block;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 90px;
    margin-top: 0;
    background-image: none;
  }

  .ecosystem__steps-item:nth-child(1),
  .ecosystem__steps-item:nth-child(2),
  .ecosystem__steps-item:nth-child(3) {
    max-width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 90px;
  }
}










/* rewards */

.rewards {
  padding-top: 140px;
  padding-bottom: 72px;
  text-align: center;
  background-color: #0F0E0F;
}

.rewards__list {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
}

.rewards__item {
  position: relative;
  text-align: left;
}

.rewards__item:first-child {
  max-width: 322px;
  padding-right: 62px;
}

.rewards__item:nth-child(2) {
  max-width: 305px;
  padding-right: 64px;
}

.rewards__item:nth-child(3) {
  max-width: 285px;
  padding-right: 68px;
}

.rewards__item:first-child::before,
.rewards__item:nth-child(2)::before {
  position: absolute;
  top: 189px;
  right: 0;
  display: block;
  width: 1px;
  height: 42px;
  background-color: #ffffff;
  content: '';
  z-index: 1;
}

.rewards__item:first-child::after,
.rewards__item:nth-child(2)::after {
  position: absolute;
  top: 189px;
  right: 0;
  display: block;
  width: 1px;
  height: 84px;
  background-color: #1A1A1A;
  content: '';
  z-index: 0;
}

.rewards__item-title {
  margin-top: 36px;
  margin-bottom: 26px;
  font-family: 'Passenger Sans Semibold', sans-serif;
  font-size: 26px;
}

.rewards__item:first-of-type .rewards__item-title {margin-top: 62px;}

.rewards__item-description {
  font-family: 'Suisse Intl Regular', sans-serif;
  font-size: 16px;
  color: #AFAFAF;
  line-height: 28px;
}

@media (max-width: 767px) {
  .rewards {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    text-align: left;
    background-color: inherit;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0F0E0F), to(#050304));
    background-image: -o-linear-gradient(top, #0F0E0F, #050304);
    background-image: linear-gradient(to bottom, #0F0E0F, #050304);
  }

  .rewards__list {
    display: block;
    margin-top: 60px;
  }

  .rewards__item:first-child,
  .rewards__item:nth-child(2),
  .rewards__item:nth-child(3) {
    max-width: 100%;
    padding-right: 0;
  }

  .rewards__item:nth-child(2) {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .rewards__item:first-child::before, .rewards__item:nth-child(2)::before,
  .rewards__item:first-child::after, .rewards__item:nth-child(2)::after {display: none;}
}

@media (min-width: 768px) and (max-width: 1199px) {
  .rewards {
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 90px;
    padding-left: 40px;
    text-align: left;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0F0E0F), to(#050304));
    background-image: -o-linear-gradient(top, #0F0E0F, #050304);
    background-image: linear-gradient(to bottom, #0F0E0F, #050304);
  }

  .rewards__list {
    display: block;
    margin-top: 90px;
  }

  .rewards__item:first-child,
  .rewards__item:nth-child(2),
  .rewards__item:nth-child(3) {
    max-width: 100%;
    padding-right: 0;
    margin-top: 70px;
  }

  .rewards__item:first-child::before, .rewards__item:nth-child(2)::before,
  .rewards__item:first-child::after, .rewards__item:nth-child(2)::after {display: none;}
}











/* faq */

.faq {
  max-width: 1200px;
  padding-top: 140px;
  margin-right: auto;
  margin-left: auto;
}

.faq__about {
  margin-top: 16px;
  font-family: 'Passenger Sans Semibold', sans-serif;
  font-size: 64px;
}

.faq__list {margin-top: 80px;}

.faq__item {margin-top: 20px;}

.faq__item-question {
  position: relative;
  width: 100%;
  height: 80px;
  padding-right: 84px;
  padding-left: 30px;
  font-family: 'Passenger Sans Semibold', sans-serif;
  font-size: 26px;
  text-align: left;
  background-color: #141414;
  border-radius: 15px;
}

.faq__item-question::after {
  position: absolute;
  top: 28px;
  right: 30px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 9L12 15L6 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-size: cover;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  content: '';
}

.faq__item-question.active::after {-webkit-transform: rotateX(180deg);transform: rotateX(180deg);}

.faq__item-answer {
  max-height: 0;
  padding-right: 84px;
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Suisse Intl Regular', sans-serif;
  font-size: 16px;
  color: #AFAFAF;
  line-height: 28px;
  overflow: hidden;
}

.faq__item-question.active + .faq__item-answer {
  max-height: 1500px;
  margin-top: 30px;
  margin-bottom: 20px;
  -webkit-transition: max-height 1s linear, margin-top 0.2s linear, margin-bottom 0.2s linear;
  -o-transition: max-height 1s linear, margin-top 0.2s linear, margin-bottom 0.2s linear;
  transition: max-height 1s linear, margin-top 0.2s linear, margin-bottom 0.2s linear;
}

@media (max-width: 767px) {
  .faq {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .faq__list {margin-top: 26px;}

  .faq__item {margin-top: 10px;}

  .faq__item-question {
    min-height: 62px;
    height: auto;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 18px;
    font-size: 18px;
  }

  .faq__item-question::after {
    top: calc(50% - 11px);
    right: 18px;
    width: 21px;
    height: 21px;
  }

  .faq__item-answer {
    padding-right: 18px;
    padding-left: 18px;
  }

  .faq__item-question.active + .faq__item-answer {
    margin-top: 20px;
    margin-bottom: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .faq {
    padding-top: 100px;
    padding-right: 26px;
    padding-left: 26px;
  }

  .faq .dark-section__title,
  .faq .dark-section__about {
    padding-right: 14px;
    padding-left: 14px;
  }

  .faq__list {margin-top: 60px;}

  .faq__item-question {
    padding-left: 20px;
    padding-right: 64px;
    font-size: 26px;
  }

  .faq__item-answer {
    padding-left: 20px;
    padding-right: 10px;
  }

  .faq__item-question.active + .faq__item-answer {
    margin-top: 26px;
    margin-bottom: 40px;
  }
}









/* page footer */

.page-footer {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
  margin-top: 104px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Suisse Intl Regular', sans-serif;
  font-size: 16px;
  color: #C8C9CB;
}

.page-footer__nav {margin-left: 37px;}

.page-footer__nav a {
  position: relative;
  margin-right: 38px;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.page-footer__nav a::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  content: '';
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.page-footer__nav a:hover {color: #ffffff}

.page-footer__nav a:hover::after {width: 100%;}


.page-footer__logo {
  margin-left: auto;
}

@media (max-width: 1199px) {
  .page-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    margin-top: 40px;
  }

  .page-footer__logo {
    margin-left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .page-footer__nav {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 26px;
    margin-left: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .page-footer__nav a {
    display: inline-block;
    margin-top: 16px;
    margin-right: 25px;
  }

  .page-footer__copyright {
    width: 100%;
    color: #ffffff;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
